<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>chongqing</string>
		<key>name</key>
		<string>重庆时时彩</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天津时时彩</string>
		<key>type</key>
		<string>2</string>
		<key>icon</key>
		<string>tianjing</string>
	</dict>
	<dict>
		<key>name</key>
		<string>湖北快3</string>
		<key>type</key>
		<string>19</string>
		<key>icon</key>
		<string>hubeikuai3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>安徽快3</string>
		<key>type</key>
		<string>20</string>
		<key>icon</key>
		<string>anhuikuai3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>福彩3D</string>
		<key>type</key>
		<string>5</string>
		<key>icon</key>
		<string>fucai</string>
	</dict>
	<dict>
		<key>name</key>
		<string>体彩排列三</string>
		<key>type</key>
		<string>4</string>
		<key>icon</key>
		<string>pailie</string>
	</dict>
	<dict>
		<key>name</key>
		<string>北京快乐8</string>
		<key>type</key>
		<string>8</string>
		<key>icon</key>
		<string>kuai8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>双色球</string>
		<key>type</key>
		<string>12</string>
		<key>icon</key>
		<string>shuangse</string>
	</dict>
	<dict>
		<key>name</key>
		<string>重庆幸运农场</string>
		<key>type</key>
		<string>10</string>
		<key>icon</key>
		<string>chongqingxingyun</string>
	</dict>
	<dict>
		<key>name</key>
		<string>广东快乐十分</string>
		<key>type</key>
		<string>11</string>
		<key>icon</key>
		<string>guangdong10</string>
	</dict>
</array>
</plist>
